@font-face {
  font-family: "vazir";
  src: url("../Font/Vazir.eot") format("eot"),
    url("../Font/Vazir.ttf") format("truetype"),
    url("../Font/Vazir.woff") format("woff2"),
    url("../Font/Vazir.woff2") format("woff");
}


*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'vazir';
    direction: rtl;
    background-color: #ffccbc;
}

.action {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action .profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.action .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
    margin-top: 20px;
    background: #fff;
    width: 250px;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(80px);
    transition: all .4s ease-in-out;
    position: relative;
}

.action .menu.active {
    opacity: 1;
    transform: translateY(0);
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
}


.action .menu h3{
    text-align: center;
    padding: 15px;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
}

.action .menu ul{
    width: 100%;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
}

.action .menu ul li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.action .menu ul li img{
    width: 30px;
    margin-left: 10px;
    opacity: .6;
}

.action .menu ul li a{
    text-decoration: none;
    color: #000;
}